@{
    ViewBag.Title = "Home Page";
}


<div>
    <p>@ViewBag.myQuest</p>
    <p>@ViewBag.myQuestion</p>
</div>
<p>@ViewBag.myQuestio</p>
<br />
<p>@ViewBag.myDropdownValue</p>
<p>@ViewBag.myResponse</p>
<p>@ViewBag.myField</p>

