@{
    ViewBag.Title = "Admin : Update Question";
}

<h1>Admin : Update Question</h1>

<div class="col-sm-push-3">
    <p>@ViewBag.One</p><br />
    <p>@ViewBag.Two</p><br />
    <p>@ViewBag.Three</p><br />
    <p>@ViewBag.Four</p><br />
    <p>@ViewBag.Five</p><br />
    <p>@ViewBag.Six</p><br />
    <p>@ViewBag.Seven</p><br />
    <p>@ViewBag.Eight</p><br />
    <p>@ViewBag.Nine</p><br />
    <p>@ViewBag.Ten</p><br />
</div>

<div class="col-sm-push-9">

</div>